.vscode
MR_Abhijeet/mapper_OP.txt
MR_Abhijeet/reducer_OP.txt
MR_Abhijeet/sort_OP.txt
MR_Aditya/mapper_output.txt
MR_Aditya/sorted_output.txt
MR_Aditya/final_output.txt
MR_Aditya/csv_output.csv
MR_Sandeep/mapper_tournament.txt
MR_Sandeep/reducer_tournament.txt
MR_Sandeep/sort_tournament.txt
MR_Abhijeet/final_OP.csv
MR_Pratibha/int_output.txt
MR_Pratibha/final_output.txt
MR_Pratibha/sorted.txt